<div class="container">
  <div class="box">
    <form>
      <label for="title">Título:</label><br>
      <input type="text" id="title" name="title"><br>

      <label for="author">Autor:</label><br>
      <input type="text" id="author" name="author"><br>

      <label for="editor">Editora:</label><br>
      <input type="text" id="editor" name="editor"><br>

      <label for="subject">Assunto:</label><br>
      <input type="text" id="subject" name="subject"><br>

      <button class="button">Salvar</button>
    </form>
  </div>
</div>

